@{
    ViewData["Title"] = "Your Cart is Empty";
}
<div class="text-center mt-5">
    <h2>Your Cart is Empty</h2>
    <p>Looks like you haven't added anything to your cart yet.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>
</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
